@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

/* --- Body  */

body {
  font-family: "Xanh", sans-serif;
  background-color: #000063;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 6rem;
}

/* --- Pictures  */

#rescue-me-logo {
  min-height: 3vh;
  width: 80%;
  text-align: center;
  margin: 0.5rem;
  padding: 0;
}

/* --- Buttons & Links */

.btn-menu {
    background-color: #f8f8ff;
    border: 2px solid #c7c7c7;
    font-size: 1rem;
    font-weight: bold;
}

.btn-menu a {
  color: #000063;
}

.btn-menu a:active, 
.btn-menu a:hover {
  color: #6746c3;
  text-decoration: none;
}

/* --- Footer  */

footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
  height: 3rem;
  width: 100%;
}
.footer-row {
  padding: 1.5rem;
}

.footer-row i {
  font-size: 2rem;
  color: #c9e7fc;
}


.social-links i:hover {
  color: #6746c3;
}