@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

/* --- Body  */

body {
  font-family: "Xanh", sans-serif;
  background-color: #000063;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 6rem;
}

/* --- Pictures  */

#rescue-me-logo {
  min-height: 3vh;
  width: 80%;
  text-align: center;
  margin: 0.5rem;
  padding: 0;
}

/* --- Buttons & Links */

.btn-menu {
    background-color: #f8f8ff;
    border: 2px solid #c7c7c7;
}